<!DOCTYPE html>
<html ng-app="user-app">
<head>
<meta name="viewport" content="width=device-width">

  <title>User App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <script src="/js/vendor/angular/angular.js"></script>
  <script src="/js/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="/js/vendor/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/js/vendor/angular-resource/angular-resource.min.js"></script>
  <script src="/js/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/js/app.js"></script>

</head>
<body>
<header ng-controller="usersController as users">
  <nav>
    <ul class='nav nav-tabs'>
      <li><a ui-sref-active="active" ui-sref="login">Log In</a></li>
      <li><a ui-sref-active="active" ui-sref="register">Register</a></li>
      <li><a ui-sref-active="active" ui-sref="home">home</a></li>
      <li><a ng-click="users.logout()">Log Out</a></li>
       
    </ul>  
  </nav>
</header>
<div ng-controller="usersController as users">
<li>
        Search: <input ng-model="users.query">
      </li> 
<h1 ng-click="users.check()">search results</h1>
<ul class="users">
        <li ng-repeat="user in users.all | filter:users.query ">
          {{user.username}}
          <p>{{user.email}}</p>
        </li>
      </ul>
<main ui-view>

</main>
</div>
</body>
</html>