<div id="edit">
  <div class="inside extra">
    <form ng-submit="users.editUser(user)" novalidate>
      <input class="input file" type="file" name="avatar" ngf-select ng-model="user.avatar" placeholder="image"> 
      <input class="input btn btn-default" type="submit" value="change profile image">
    </form>
  </div>
</div>