<div class="container"> 
  <div class="col-xs-6 col-md-4 friend other" ng-repeat="friend in users.friends">
    <div class="inside">
      <img class="tile" ngf-src="friend.imageSRC">
      <p>{{ friend.username }}</p>
    </div>  
  </div> 
</div> 