<p>Search users:</p> <input class="input" ng-model="query">
<hr/>
<div class="users container">
  <div class="col-xs-6 col-md-4 friend" ng-repeat="user in users.all | filter:query ">
  <img class="tile" ngf-src="user.imageSRC">

    <div class="outside">
       <i ng-show="!users.alreadyConnected(user)" ng-click="users.addConnection(user._id)" class="icon fa fa-plus" aria-hidden="true"></i>
        <i ng-show="users.alreadyConnected(user)" class="icon fa fa-check" aria-hidden="true"></i>
      {{user.username}}
      <div class="connect">
        <p class="inline">{{ user.friends.length }}  <i class="fa fa-users" aria-hidden="true"></i></p>
        <a class="link inline" ng-if="users.showFriends().users.hasConnections(user.friends)" ng-click="users.showConnections(user.friends)">see connections</a>
      </div>
      
        <a class="link inline" ng-if="users.isInCharge()" ng-click="users.makeAdmin(user._id)">make admin</a>
      
          
     </div>     
  </div>
</div>

