<p>Search users:</p> <input class="input" ng-model="query">
<hr/>
<div class="users container">
  <div class="col-xs-6 col-md-4 friend" ng-repeat="user in users.all | filter:query ">
    <div class="inside">
      <img class="tile" ngf-src="user.imageSRC">
      {{user.username}}
      <p>{{ user.friends.length }} connections</p>
      <button class="btn btn-default" ng-click="users.addConnection(user._id)">add</button>
          
     </div>     
  </div>
</div>

