<img class="tile" ngf-src="users.user.imageSRC">
<p>{{users.user}}</p>
<ul>
  <li ng-repeat="friend in users.user.friends">
    <p>{{ friend.username }}</p>
    <button ng-click="users.deleteConnection(friend._id)">delete</button>
  </li> 
</ul> 
