<div id="register">
  <div class="inside extra">
    <h3>Register</h3>
    <form ng-submit="users.register()" novalidate>
      <input class="input" type="text" name="username" placeholder="Username" ng-model="users.currentUser.username">
      <input class="input" type="email" name="email" placeholder="Email" ng-model="users.currentUser.email">
      <input class="input" type="password" name="password" placeholder="Password" ng-model="users.currentUser.password">
      <input class="input" type="password" name="passwordConfirmation" placeholder="Retype password" ng-model="users.currentUser.passwordConfirmation">
      <input class="input" type="text" name="role" ng-model="users.currentUser.role">
      <input type="submit" class="btn btn-default" value="Register">
    </form>
  </div>
</div>