<div id="register">
  <div class="inside extra">
    <h3>Register</h3>
    <form ng-submit="users.register()" novalidate>
      <input type="text" name="username" placeholder="Username" ng-model="users.currentUser.username">
      <input type="email" name="email" placeholder="Email" ng-model="users.currentUser.email">
      <input type="password" name="password" placeholder="Password" ng-model="users.currentUser.password">
      <input type="password" name="passwordConfirmation" placeholder="Retype password" ng-model="users.currentUser.passwordConfirmation">
      <input type="file" name="avatar" ngf-select ng-model="users.currentUser.avatar" placeholder="image">
      <input type="text" name="role" ng-model="users.currentUser.role" value="super">
      <input type="submit" value="Register">
    </form>
  </div>
</div>