@import 'login';

body {
  background-image: url(../src/images/background.jpg);
  background-size: cover;
  font-family: helvetica;
  color: white;
}

nav {
  background: rgba(255, 255, 0, 0.51);
  border-bottom: transparent;
  .nav-tabs {
      border-bottom: 0px solid #ddd;
  }
  a{
    color: white
  }
  
}

#login, #register, #profile, #edit {
  background: rgba(255, 255, 0, 0.51);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profile {
  background: rgba(255, 93, 0, 0.51);
}

.inside {
  width: 60%;
  margin: 0 auto; 
  margin-top: 50px;
  text-align: center;
}


.item {
  padding: 5px;
  margin: 5px;
}

.tile {
  height: 50px;
  margin-top: 50px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 5px;

}

.input {
  background: rgba(255, 255, 255, 0.1);
}

.file {
  background: rgba(255, 255, 255, 0);
  border-radius: 20%;
}

.friend {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: rgba(255, 255, 0, 0.51);
  margin: 40px;
}

.box-friends {
  margin-top: 500px;
}

.other {
  background: rgba(164, 20, 212, 0.51);
}

.icon {
  font-size: 30px;
  float: right;
  cursor: pointer;
}
.inline {
  display: inline-block;
  cursor: pointer;
}
.link {
  color: white;
  cursor: pointer;
}
